* {
    margin: auto;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
  body {
    text-align: center;
    background-color: #008374;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  }
  
  .card {
    background-color: #00453a;
    margin: 77px 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    padding: 5%;
  }
  
  button {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 16px 32px;
    border-radius: 40px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
  }
  